MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MODEL_NAME=SpamClassifier
PRIMARY_METRIC=f1_valid
PROMOTE_EPSILON=0.002
DATA_SOURCE=sms_spam
DATA_VERSION=v1
C_GRID=0.1,1,10
NGRAMS=1-1,1-2
RELOAD_TOKEN=secret
SERVICE_RELOAD_URL=http://127.0.0.1:8000/reload
